
.nav-body{
  height: 7vh;
}


.main-body{
  height: 91vh;
  width: 100%;
  margin-top: 2vh;
}

.main-body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.main-body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}